header > *:not(:last-child) {
	margin-right: 16px;
}

nav > button {
	padding: 8px 0px 8px 8px;
	background-color: var(--tab-bg);
	border-radius: 6px;
	margin-right: 16px;
	border: 2px solid var(--purple);
	transition-property: box-shadow border-color;
	transition: .1s ease-in-out;
	font-size: var(--std-font);
}

nav > button:hover {
	border-color: var(--purple-light);
	box-shadow: 0 0 40px var(--purple-dark);
}

nav .description {
	/* display: none; */
}

nav > button > svg {
	height: 24px;
}

nav > button > * {
	margin-right: 8px;
	text-transform: capitalize;
}

#projectView {
	width: 100%;
	flex-grow: 1;
	overflow: scroll hidden;
	padding-bottom: 8px;
}

.task {
	width: 280px;
	height: 100%;
	background-color: var(--purple);
	padding: 2px;
	margin-right: 16px;
	border-radius: 6px;
	flex-shrink: 0;
}
.task.red {background: var(--task-red);}
.task.green {background: var(--task-green);}

.task.red .steps::-webkit-scrollbar-thumb {background-color: var(--red);}
.task.red .steps {scrollbar-color: var(--red) var(--dark-bg);}
.task.green .steps::-webkit-scrollbar-thumb {background-color: var(--green)}
.task.green .steps {scrollbar-color: var(--green) var(--dark-bg);}

.task > .content {
	height: 100%;
	background-color: var(--tab-bg);
	border-radius: 6px;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

.task button {
	background: none;
}

.task svg {
	height: 22px;
}

.task .block {
	border-radius: 6px;
	background-color: var(--dark-bg);
	display: flex;
	flex-direction: column;
	padding: 8px;
	min-height: 40px;
}

.block textarea {color: var(--purple-light)}

.task > .content > *:not(:last-child) {
	margin-bottom: 8px;
}

.task .row {
	display: flex;
	align-items: center;
}

.row > *:not(:last-child) {
	margin-right: 4px;
}

.row > .spacer {
	margin-left: auto
}

.steps {
	overflow-y: auto;
	padding-right: 8px;
}

.steps > .step:not(:last-child) {
	margin-bottom: 8px;
}

.block > .row:not(:last-child) {
	margin-bottom: 8px;
}

.taskName {
	height: calc(var(--std-font) + 22px);
}

.progress {
	transition-property: stroke-dasharray;
	transition: 0.2s linear;
}

#inputQuery {
	position: absolute;
	top: 50%; left: 50%;
	font-size: 4rem;
	/* font-weight: bold; */
	background-color: var(--tab-bg);
	border: none;
	outline: 0;
	border-bottom: 4px solid var(--purple);
	padding: 20px 40px;
	box-shadow: 0 0 50px black, 0 0 20px rgba(0, 0, 0, 0.1) inset;
	border-radius: 6px;
	width: 40%;
	background-position: top 50% right 30px;
	background-size: auto 40%;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%) scaleY(1) scaleX(1);
	transform-origin: center;
	opacity: 1;
	transition-property: transform opacity;
	transition: .2s ease-in-out;
}

#inputQuery.hidden {
	transform: translate(-50%, -50%) scaleY(0) scaleX(0);
	opacity: 0;
}

#inputQuery:placeholder-shown { background-image: url(./assets/inputBG.svg); }
/* Chrome, Firefox, Opera, Safari 10.1+ */
#inputQuery::placeholder { color: var(--purple-light); opacity: 1; /* Firefox */ }
/* Internet Explorer 10-11 */
#inputQuery:-ms-input-placeholder { color: var(--purple-light); }
/* Microsoft Edge */
#inputQuery::-ms-input-placeholder { color: var(--purple-light); }